@page "/mailbox/{id:int}"

<h1>@Mailbox.Name</h1>
<ul>
    <li><b>HOST:</b>&nbsp;@Mailbox.ImapHost</li>
    <li><b>PORT:</b>&nbsp;@Mailbox.ImapPort</li>
    <li><b>USER:</b>&nbsp;@Mailbox.ImapUsername</li>
    <li><b>PASS:</b>&nbsp;@Mailbox.ImapPassword</li>
    <li><b>PATH:</b>&nbsp;@Mailbox.Folder</li>
</ul>
